body{
    margin: 0;
    padding: 0;
    /* position: relative; */
    background: #fff;
}
.container{
    /* width: 60%;
    margin: auto;
    align-self: center;  */
    margin-top: 7%;
    margin-bottom: 15%; 
    /* max-width: 700px;  */
} 
.line1{
    display: flex;
    flex-direction: row;
}
.name{
    display: flex;
    flex: 5;
}
.war{
    margin-top: 4%;
    margin-bottom: 4%;
    letter-spacing: -0.05em; 
    font-size: 20px;
    color: rgb(105, 103, 103); 
}
.high{
    color: rgb(99, 134, 83)
}
.conv{
    font-size: 15px;
    letter-spacing: -0.05em; 
    color: rgb(43, 42, 42); 
}
.profile{
    margin-top: 6%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
}
img{
    border-radius: 50%;
    height: 45px;
    border: 2px solid rgb(35, 36, 34);
    padding: 10px; 
    width: 30px;
    height: 30px; 
}
.pname{
    font-weight: bold;
    letter-spacing: -0.05em;
    font-size: 15px; 
    color: rgb(46, 44, 44); 
}
.reply{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-bottom: 2%;
}
.claps{
    display: flex;
    flex: 4;
}
.response{
    font-size: 13px; 
    color: rgb(80, 77, 77); 
    font-weight: initial;
}
@media not screen and (max-width: 500px) {
    .container {
        margin-left: 30%;
        margin-right: 30%;
    }
}
/* @media screen and (max-width: 640px) {
    .container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
} */

/* @media screen and (min-width: 1200px) {
    .container {
        margin-left: 30%;
        margin-right: 30%;
    }
} */