body{
    margin: 0;
    padding: 0;
    position: relative;
    background: #fff;
}
.container{
    /* max-width: 800px; */
    width: auto;
    margin: auto;
    margin-left: 15%;
    margin-right: 40%;
    margin-top: 7%;
    margin-bottom: 20%;
}
.line1{
    display: flex;
    flex-direction: row;
}
.icon{
    display: flex;
    flex: 3;
}
.started{
    display: flex;
    flex: 2;
    font-family: sans-serif,Arial;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.05em;
    line-height: 25px; 
}
.started>a{
    color: rgba(58, 30, 216, 0.651);
    text-decoration: none;
}
.rect{
    border:1px solid rgba(58, 30, 216, 0.651);  
    text-decoration: none;
}
.line2{
    font-weight: bold;
    letter-spacing: -0.05em;
    line-height: 25px; 
    font-size: 10px; 
}
@media screen and (max-width:300px){
    .container{
        width: 100%;
    }
}
.line3{
    color: rgb(48, 45, 45);
    letter-spacing: -0.0001em;
}
.line4{
    color: rgb(95, 92, 92);
    letter-spacing: -0.0001em;
}
.profile{
    display: flex;
    flex-direction: row;
}
img{
    border-radius: 50%;
    height: 45px;
    border: 2px solid rgb(35, 36, 34);
    padding: 20px; 
    width: 30px;
    height: 30px; 
}
.line5{
    color: rgb(56, 53, 53);
    letter-spacing: -0.0001em; 
}